@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<RadzenTemplateForm Data="@ModelTurno">  

    <div class="row">

        <div class="col-18">

            <RadzenFieldset Text="Detalles">


                <div class="row">

                    <div class="col-md-2 align-items-center d-flex">
                        <RadzenLabel Text="Release Date" />
                    </div>

                    <div class="col-md-6">
                        <RadzenCard>
                            <h4 class="mb-4">12 hour time format</h4>
                            <RadzenDatePicker TValue="DateTime?"
                                              ShowTime="true"
                                              Change=@(args => OnChange(args, "DatePicker with 12 hour time format", "MM/dd/yyyy h:mm tt"))
                                              HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt" Class="w-100" />
                        </RadzenCard>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-2 align-items-center d-flex"/>

                    <div class="col-md-6">
                        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Click=@(args => ProbandoMetodo()) />
                    </div>

                </div>


            </RadzenFieldset>

        </div>

    </div>


</RadzenTemplateForm>


@code {

    #region VARIABLES

    //private EditContext editFormContext;
    //private bool isFormInvalid = false;

    public DateTime? VariableValue = DateTime.Now;
    
    void OnChange(DateTime? value, string name, string format)
    {
        Console.WriteLine($"{name} value changed to {value?.ToString(format)}");
    }


    public ModeloPrueba ModelTurno { get; set; }
    

    #endregion

    //https://blazor.radzen.com/get-started

    //https://blazor.radzen.com/docs/guides/components/datepicker.html

    //https://blazor.radzen.com/datepicker

    //https://www.youtube.com/watch?v=IpdqFj8t6z4&t=932s

    public void ProbandoMetodo()
    {
        Console.Write("AAAAA " + ModelTurno.HorarioCorte);
    }

}
